spring:
  datasource:
    # Si existe la variable DB_URL la usa, si no, usa tu URL actual
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${SERVER_PORT}

ai:

  provider-url: ${AI_PROVIDER_URL:https://api.openai.com/v1}
  model-name: ${AI_MODEL:gpt-3.5-turbo}
  api-key: ${AI_API_KEY:sk-tu-api-key-aqui}
  system-prompt: You are a helpful AI assistant in a chat app. Be concise and friendly.